<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let b of bicycles">

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      marca: {{b.brand}}<br />
      modelo: {{b.model}}
    </ion-card-content>
    <ion-buttons>
      <ion-icon slot="icon-only" (click)="deleteBicycle(b.id)" name="trash-outline"></ion-icon>
    </ion-buttons>
  </ion-card>
  <ion-buttons>
    <ion-button (click)="insertBicycle()" block>
      <ion-icon name="add-outline"></ion-icon>Insert Bicycle
    </ion-button>
  </ion-buttons>
</ion-content>