<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let b of bicycles">
    <ion-card-content>
      marca: {{b.brand}}<br />
      modelo: {{b.model}}
    </ion-card-content>
    <ion-item lines="none">
      <ion-buttons slot="end">
        <ion-button (click)="deleteBicycle(b.id)" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="updateBicycle(b.id)" color="primary">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>
  <ion-item lines="none">
      <ion-button (click)="insertBicycle()" slot="end">
        <ion-icon name="add-outline" shape="full" expand="block"></ion-icon>Insert Bicycle
      </ion-button>
  </ion-item>

</ion-content>